@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;
@use "sass:math";

.main-content {
  width: 100%;
  background-color: var.$background-color-base;
  display: flex;
  flex-wrap: wrap;
  padding-left: 288px;

  @include mix.four-k-styles {
    padding-left: 512px;
  }

  @include mix.tablet-styles {
    padding-left: 0;
  }

  .content {
    flex-basis: 33.33%;
    position: relative;
    cursor: pointer;

    @include mix.four-k-styles {
      flex-basis: 33.33%;

      img {
        width: 100%;
      }
    }

    @include mix.tablet-styles {
      width: 100%;
      flex-basis: 50%;
    }
    @include mix.mobile-l-styles {
      flex-basis: 100%;
    }

    @include mix.mobile-m-styles {
      flex-basis: 100%;
    }

    @include mix.mobile-s-styles {
      flex-basis: 100%;
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: var.$background-color-base;
    }

    .inner-content:hover:hover .overlay {
      opacity: 1;
    }

    .text {
      color: var.$text-color-menu;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      white-space: nowrap;

      @include mix.four-k-styles {
        font-size: 40px;
      }

      @include mix.laptop-m-styles {
        white-space: wrap;
      }

      @include mix.tablet-styles {
        white-space: nowrap;
      }
    }
  }
}
